.section {
      padding: 30px 0;
    }

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: none;
}

.navbar {
    background-color: #f8f9fa;
}

img.lazy {
    filter: blur(10px);
    transition: filter 0.3s;
}

img.lazy.loaded {
    filter: blur(0);
}

.img-thumbnail-30 {
    max-width: 30%;
}

.img-thumbnail-50 {
    max-width: 50%;
}

.img-thumbnail-70 {
    max-width: 70%;
}

body { padding: 2rem; }
.search-box { max-width: 70vw; margin-bottom: 1rem; }

.img-container-rectangle {
  width: 160px;   /* set desired width */
  height: 240px;  /* set desired height */
  overflow: hidden;
}

.img-container-rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maintains aspect ratio, crops if needed */
}

.img-container-square {
  width: 300px;   /* set desired width */
  height: 200px;  /* set desired height */
  overflow: hidden;
}

.img-container-square2 {
  width: 180px;   /* set desired width */
  height: 230px;  /* set desired height */
  overflow: hidden;
}

.img-container-square img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maintains aspect ratio, crops if needed */
}

.img-container-square2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maintains aspect ratio, crops if needed */
}